@model TiendaVirtual.Models.Login
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.", new { @class = "text-danger" });
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}


